/* Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');
/* Heading */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

/* Navbar container */
.navbar {position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #030005;  */
  background: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.415),
  rgba(0, 0, 0, 0.2)
);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
}

/* Ensure hamburger icon sits at the end on small screens */
.bar {
  margin-left: auto;
}

/* Nav list */
.nav-ul {
  display: none;
}

.logo span{
font-size: 25px;
font-weight: bold;
color: white;
}
.logo i{
  font-size: 25px;
font-weight: bold;
color: white;
}
.logo .lastName{
  color: #c084fc;
}
.bar i{
  display: flex;
  cursor: pointer;
  color: white;
  
}
.bar svg{
  font-size: 25px;
}


/* hambuger-hide */

.hambuger-hide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 60px;
  width: 290px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -300px;   /* slightly more than width */
  background-color: rgb(9 9 9 / 92%);
  z-index: 200;
  transition: right 0.5s ease;
}

.hambuger-show {
  right: 0;   /* slide in */
}


.backdrop{
    width: 100%;
    height: 100vh;
      background-color: #7d0ee621;
    backdrop-filter: blur(10px);
    position: fixed;
    z-index: 102;
    display: none;
}
 .backdrop-show {
            display: block;
            opacity: 1;
        }
        .ham-cut-sign{
          position: absolute;
          right: 0;
          top: 5px;
        }
        
      .close-menu {
    position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 210; /* above menu */
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease; 
  color: white;
  font-size: 22px;
}

.close-menu:hover {
  color: #c084fc;
  transform: rotate(90deg);   
  transform-origin: center;   
}



            /* Nav list */

    /* Nav items */
.nav-li-cut a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 21px;
  cursor: pointer;
  position: relative;
  padding: 10px 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

/* Hover - change color to blue */
.nav-li-cut a:hover {
  color: #c084fc; 
}

/* Underline effect */
.nav-li-cut a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: #c084fc; 
  transition: width 0.3s ease-in-out;
}

.nav-li-cut a:hover::before {
  width: 100%;
}

.ham-hide-nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 20px;
    flex-direction: column;
 padding: 20px 0 0 0;
}






@media only screen and (min-width:768px) {
    /* Nav list */
.nav-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  list-style: none;
  /* display: none; */
}
    /* Nav items */
.nav-li a {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  position: relative;
  padding: 5px 0;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

/* Hover - change color to blue */
.nav-li a:hover {
  color: #c084fc; 
}

/* Underline effect */
.nav-li a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  background: #c084fc; 
  transition: width 0.3s ease-in-out;
}

.nav-li a:hover::before {
  width: 100%;
}
.bar i{
  display: none;
}
.bar svg{
    display: none;
}
.logo span{
font-size: 20px;
font-weight: bold;
color: white;
}
.logo i{
  font-size: 20px;
font-weight: bold;
color: white;
}
}
@media only screen and (min-width:800px) {
.logo span{
font-size: 22px;
font-weight: bold;
color: white;
}
.logo i{
  font-size: 22px;
font-weight: bold;
color: white;
}
}

@media only screen and (min-width:850px) {
.logo span{
font-size: 25px;
font-weight: bold;
color: white;
}
.logo i{
  font-size: 25px;
font-weight: bold;
color: white;
}
}